@model TournamentApp.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserName</h2>

<div>
    <dl class="dl-vertical">
        @if (Model.InTeam != null)
        {
            <dt>
                Tým
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Team.Name)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.SexMale)
        </dt>

        @if (@Model.SexMale == true)
        {
        <dd>Muž</dd>
        }
        else if (@Model.SexMale == false)
        {
            <dd>
                Žena
            </dd>
        }
        else
        {
            <dd>Nezadáno</dd>
        }

        @if (Model.PhoneNumber != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>
        }

        @if (Model.Country != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>
        }

        @if (Model.Email != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        }
        @if (Model.PhoneNumber != null)
        { 
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        }
    </dl>
</div>
