@model TournamentApp.Models.Tournament

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>
            @Model.Name @if (ViewBag.InTournament)
            {
                <img src="~/images/Success-icon.png" data-toggle="tooltip" data-placement="right" title="jste přihlášen do tohoto turnaje" />
                if (!ViewBag.Paid)
                {
                    <img src="~/images/Warning-icon.png" data-toggle="tooltip" data-placement="right" title="registrační poplatek nezaplacen" />
                }
            }
        </h2>

        <div>
            <dl class="">
                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Web)
                </dt>

                <dd>
                    @if (((String)@Model.Web).Contains("http://"))
                    {
                        string web = @Model.Web;
                        web = web.Substring(7, web.Length - 7);
                        <a href="http://@web" target="_blank">@web</a>
                    }
                    else
                    {
                        string web = @Model.Web;
                        <a href="http://@web" target="_blank">@web</a>
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Prize)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Prize)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Info)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Info)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartReg)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartReg)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndReg)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndReg)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>

            </dl>
        </div>

        @{bool first; }

        @{first = true;}
        @foreach (var group in ViewBag.allUsersInTournament)
        {

            if (group.Belt == "white" && group.SexMale == true)
            {
                if (first)
                {
                    first = false;
                    <h3>Bílé pásky - muži</h3>
                }

                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4> @Html.ActionLink("Show draw", (string)@group.Id, "Group/Draw")
                <table class="table table-striped">
                    @foreach (var user in @group.RegistredUsers)
                    {
                        <tr>
                            <td>@Html.ActionLink((string)@user.UserName, (string)@user.Id, "Account/UserDetail")</td>
                            <td>@if (@user.TeamConfirmed) {@user.Team}</td>
                            <td>@user.Country</td>
                        </tr>
                    }
                </table>
            }
        }

        @{first = true; }
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "blue" && group.SexMale == true)
            {
                if (first)
                {
                    first = false;
                    <h3>Modré pásky - muži</h3>
                }

                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                <table class="table table-striped">
                    @foreach (var user in @group.RegistredUsers)
                    {
                        <tr>
                            <td>@user.UserName</td><td>@user.Team</td><td>@user.Country</td>
                        </tr>
                    }
                </table>
            }
        }

        @{first = true;}
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "purple" && group.SexMale == true)
            {
                if (first)
                {
                    first = false;
                    <h3>Fialové pásky - muži</h3>
                }

                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                foreach (var user in @group.RegistredUsers)
                {
                    <p>@user.UserName</p>
                }
            }
        }

        @{first = true;}
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "brown" && group.SexMale == true)
            {
                if (first)
                {
                    first = false;
                    <h3>Hnědé pásky - muži</h3>
                }

                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                foreach (var user in @group.RegistredUsers)
                {
                    <p>@user.UserName</p>
                }
            }
        }


        @{first = true;}
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "black" && group.SexMale == true)
            {
                if (first)
                {
                    first = false;
                    <h3>Černé pásky - muži</h3>
                }
                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                foreach (var user in @group.RegistredUsers)
                {
                    <p>@user.UserName</p>
                }
            }
        }

        @{first = true;}
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "white" && group.SexMale == false)
            {
                if (first)
                {
                    first = false;
                    <h3>Bílé pásky - ženy</h3>
                }

                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                foreach (var user in @group.RegistredUsers)
                {
                    <p>@user.UserName</p>
                }
            }
        }

        @{first = true;}
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "blue" && group.SexMale == false)
            {
                if (first)
                {
                    first = false;
                    <h3>Modré pásky - ženy</h3>
                }
                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                foreach (var user in @group.RegistredUsers)
                {
                    <p>@user.UserName</p>
                }
            }
        }

        @{first = true;}
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "purple" && group.SexMale == false)
            {
                if (first)
                {
                    first = false;
                    <h3>Fialové pásky - ženy</h3>
                }

                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                foreach (var user in @group.RegistredUsers)
                {
                    <p>@user.UserName</p>
                }
            }
        }

        @{first = true; }
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "brown" && group.SexMale == false)
            {
                if (first)
                {
                    first = false;
                    <h3>Hnědé pásky - ženy</h3>
                }

                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                foreach (var user in @group.RegistredUsers)
                {
                    <p>@user.UserName</p>
                }
            }
        }

        @{first = true;}
        @foreach (var group in ViewBag.allUsersInTournament)
        {
            if (group.Belt == "black" && group.SexMale == false)
            {
                if (first)
                {
                    first = false;
                    <h3>Černé pásky - ženy</h3>
                }

                <h4>@group.WeightKg Kg <span class="badge">@group.RegistredUsers.Count</span></h4>
                foreach (var user in @group.RegistredUsers)
                {
                    <p>@user.UserName</p>
                }
            }
        }

        @if (ViewBag.InTournament)
        {
            <p>Jste zaregistrovaný do turnaje.</p>
        }
        else
        {
            <h3 id="registration">Zaregistrujte se</h3>
            using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.Hidden("tournamentId", (Int32)@ViewBag.tournamentId)
                        @Html.DropDownList("SelectList", "Vyberte svoji váhovku")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registrovat se" class="btn btn-success" />
                    </div>
                </div>
            }
        }
    </div>

    @* ADMINISTRATION *@
    <div class="col-md-4">
        @if (@ViewBag.IsAdmin)
        {
            <h3>Kategorie</h3>

            <div id="category">
                @foreach (var group in ViewBag.allUsersInTournament)
                {
                    <div>
                        <img class="deleteGroup hovercursor" src="~/images/Delete-icon.png" />
                        @if (@group.SexMale)
                        {
                            <text>muz</text>
                        }
                        else
                        {
                            <text>zena</text>
                        } - @group.Belt - @group.WeightKg
                    </div>
                }
            </div>
            <br />
            <img id="btnAddGroup" class="hovercursor" src="~/images/Add-icon.png" />

            <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

            <script src="@Url.Content("~/Scripts/addGroup.js")" type="text/javascript"></script>


            <div id="add_group">
                @using (Html.BeginForm())
                {
                    <label>
                        Pohlaví
                    </label>
                    @Html.DropDownList("ddlGender", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Muž", Value = "true" },
                        new SelectListItem { Text = "Žena", Value = "false" }

                    }, "Vyber pohlaví")
                    <br />
                    <label>
                        Pásek
                    </label>
                    @Html.DropDownList("ddlBelt", new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Bílý", Value = "white" },
                        new SelectListItem { Text = "Modrý", Value = "blue" },
                        new SelectListItem { Text = "Fialový", Value = "purple" },
                        new SelectListItem { Text = "Hnědý", Value = "brown" },
                        new SelectListItem { Text = "Černý", Value = "black" }

                    }, "Vyber pásek")
                    <br />
                    <label>
                        Váha
                    </label>
                    @Html.Editor("weight")
                    <br />
                    <input type="submit" value="Přidat" />
                }
                <div id="result"></div>

            </div>
        }

    </div>
</div>